﻿@model ProductDetailsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>@Model.Productname</h1>
    <h3>@Model.Groupname</h3>
    <h3>@Model.Productcode</h3>
    <div>
        <img src="@Model.MainImagePath" />
        <ul>
            @foreach (var path in Model.Paths)
            {
                <li>
                    <img src="@path" />
                </li>
            }

        </ul>
    </div>
    <p>@Model.Description</p>
    <p>@Model.Characteristic</p>
    <p>@Model.AdditionalCharacteristics</p>
    @*реализовать отображение сходныех с этим продуктом (с помощью  @Model.GroupId) *@
</body>
</html>
