﻿@model List<Group>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        @{ foreach (var group in Model)
            {
                <li>
                    <a asp-controller="Product" asp-action="ViewProducts" asp-route-id="@group.Id">@group.Name</a>
                </li>
            }
        }
    </ul>
</body>
</html>
