﻿@model List<Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewProducts</title>
</head>
<body>
    <ul>
        @foreach (var product in Model)
        {
        <li>
            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Name</a>
        </li>
        }
    </ul>
</body>
</html>
