﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login Page";
}

<h1>Login form </h1>
<div class="container">

    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="input-group">
            <input type="text" name="Name" placeholder="UserName" />
            <span asp-validation-for="Name" class="input-group-addon">
                <i class="glyphicon glyphicon-user" ></i>
            </span>
        </div>

        <div class="input-group">
            <input type="text" name="Password" placeholder="Password" />
            <span asp-validation-for="Password" class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
            </span>
        </div>
        <div><input type="checkbox" name="RememberMe" /></div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>

</div>
