﻿@model RegisterViewModel

<h1>New User registration form </h1>
    <fieldset border="1">
        <legend>Action only for moderators </legend>
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <p>
                <label>
                    Username:<br />
                    <input type="text" name="Name" />
                    <span asp-validation-for="Name"></span>
                </label>
            </p>
            <p>
                <label>
                    PhoneNumber:<br />
                    <input type="text" name="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber"></span>
                </label>
            </p>
            <p>
                <label>
                    Password:<br />
                    <input type="password" name="password" />
                    <span asp-validation-for="Password"></span>
                </label>
            </p>
            <p>
                <label>
                    Password:<br />
                    <input type="password" name="PasswordConfirm" />
                    <span asp-validation-for="PasswordConfirm"></span>
                </label>
            </p>

            <div>
                <input type="submit" value="Registr" />
            </div>
        </form>
    </fieldset>

